.form-control {
    box-shadow: none;
    border-color: #ddd;
}
.form-control:focus {
    border-color: #4aba70;
}
.login-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px 0;
}
.login-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.login-form .avatar {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    background: #262b26;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
    font-size: 62px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form .form-control, .login-form .btn {
    min-height: 40px;
    border-radius: 2px;
    transition: all 0.5s;
}
.login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.login-form .btn {
    background: #262b26;
    border: none;
    line-height: normal;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #262b26;
}
.login-form .checkbox-inline {
    float: left;
}
.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .forgot-link {
    float: right;
}
.login-form .small {
    font-size: 13px;
}
.login-form a {
    color: #262b26;
}

/*Datatables*/

/* Styles for the drop-down. Feel free to change the styles to suit your website. :-) */

.cb-dropdown-wrap {
    max-height: 80px; /* At most, around 3/4 visible items. */
    position: relative;
    height: 19px;
}

.cb-dropdown,
.cb-dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cb-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #888;
}

/* For selected filter. */
.active .cb-dropdown {
    background: pink;
}

.cb-dropdown-wrap:hover .cb-dropdown {
    height: 80px;
    overflow: auto;
    transition: 0.2s height ease-in-out;
}

/* For selected items. */
.cb-dropdown li.active {
    background: #ff0;
}

.cb-dropdown li label {
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 19px; /* Match height of .cb-dropdown-wrap */
}

.cb-dropdown li label > input {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.cb-dropdown li label > span {
    display: block;
    margin-left: 3px;
    margin-right: 20px; /* At least, width of the checkbox. */
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
}

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-position: 100% 10px;
}
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
/*.scrollable {*/
    /*height: px; !* or any value *!*/
    /*overflow-y: auto;*/
/*}*/
.latest-feed{
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    padding: 5px;
}